/*Body Section*/
body {
	background-color: GhostWhite;
}
/*Background Decorations*/
#darkGray {		
	height: 200px;
	width: 125px;	
	position: fixed;
	z-index: -1;
	top: 10%;
	left: 15%;	
}
#limeGreen {
	height: 100px;
	width: 300px;	
	position: fixed;
	z-index: -2;
	top: 10%;
	left: 15%;	
}
#red {
	height: 100px;
	width: 300px;	
	position: fixed;
	z-index: -1;
	top: 7%;
	right: 10%;	
}
#orange {
	height: 400px;
	width: 100px;	
	position: fixed;
	z-index: -2;
	right: 10%;	
}
#stylishDiv {
	background-color: black;
	height: 300px;
	width: 200px;	
	position: fixed;
	z-index: -1;
	bottom: 1%;
	left: 30%;	
}
#styleishNestedDiv1 {
	background-color: grey;
	height: 50px;
	width: 300px;	
	position: absolute;
	z-index: -1;
	top: 20%;
	right: 10%;	
}
#styleishNestedDiv2 {
	background-color: GhostWhite;
	height: 200px;
	width: 50px;	
	position: absolute;
	z-index: -1;
	bottom: 10%;
	left: 20%;	
}
/*Navigation Tool Bar Section*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}
li {
	display: inline;	
}
a.navLinkStyle  {
	text-decoration: none;
}
a.navLinkStyle:link {
	color:black;
}
a.navLinkStyle:visited {
	color:black;
}

a.navLinkStyle:hover {
	color: blue;
}
a.navLinkStyle:active {
	color: red;
}
/*Table Section*/
/*This section is ment for the assignments ID*/
#assignments {
	border-collapse: collapse;
	width:100%;
}
#assignments table, th, td {
	border: 1px solid black;	
}
#assignments th, td {
	padding: 6px;
}
#assignments th {
	background-color:white;
	text-align: left;
}
#assignments tr:nth-child(even) {
	background-color:LightGray;
}
#assignments tr:nth-child(odd) {
	background-color:white;
}
#assignments td:hover {
	background-color: Gray;	
}	
#assignments caption {
	font-weight: bold;
	font-size:200%;
}
a.tableLinkStyle {
	text-decoration: none;
	display:block;
}
a.tableLinkStyle:link {
	color:blue;
}
a.tableLinkStyle:visited {
	color:darkblue;
}

a.tableLinkStyle:hover {
	color: skyblue;
}
a.tableLinkStyle:active {
	color: red;
}
/*Footer Section*/
footer {
	background-color: ghostwhite;
}
